* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: #cecece;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.c-player {
  display: block;
  background-color: #313131;
  padding: 50px;
  border-radius: 16px;
  box-shadow: inset -6px -6px 12px rgba(0, 0, 0, 0),
    inset 6px 6px 12px rgba(255, 255, 255, 0.4);
}

.c-player > h4 {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}

.c-player > p {
  color: #aaa;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
}

.details-img {
  position: relative;
  width: fit-content;
  margin: 50 auto;
}

.details-img > img {
  display: block;
  align-self: center;
  padding: 0;
  width: 250px;
  height: 250px;
  box-shadow: 3px 3px 20px rgba(255, 255, 255, 0.4),
    -3px -3px 20px rgba(255, 255, 255, 0.4);
}

.c-player--details .details-title {
  color: #eee;
  font-size: 28px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8),
    -2px -2px 4px rgba(255, 255, 255, 0.4);
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  max-width: 250px;
  height: 45px;
  overflow-y: auto;
}

.details-title::-webkit-scrollbar {
  width: 0.1em;
  margin-left: 10px;
}

.details-title::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.details-title::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.c-player--details .details-artist {
  color: #aaa;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8),
    -2px -2px 4px rgba(255, 255, 255, 0.4);
  text-align: center;
  margin-bottom: 20px;
}

.c-player--controls {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-player--controls .play-btn {
  display: flex;
  margin: 0 30px;
  margin-bottom: 0;
  padding: 20px;
  border-radius: 50%;
  border: none;
  outline: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.c-player--controls .skip-btn {
  display: flex;
  background-color: transparent;
  color: white;
  font-size: 24px;
  outline: transparent;
  cursor: pointer;
  border: solid;
  border-color: transparent;
  border-radius: 25%;
  padding: 2%;
}

.Tilt {
  border-style: solid;
  border-color: black;
  margin: 100px;
}

.Queue {
  text-align: center;
  align-content: center;
  margin-right: 100px;
  display: block;
  height: 575px;
  width: 375px;
  overflow-y: scroll;
  background-image: linear-gradient(to bottom, #c8c8c8, #969696);
  padding: 50px;
  border-radius: 16px;
  box-shadow: inset -6px -6px 12px rgba(0, 0, 0, 0),
    inset 6px 6px 12px rgba(255, 255, 255, 0.4);
}

.Queue::-webkit-scrollbar {
  display: none;
}

.Queue > button {
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;
  font-size: medium;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}
